.minicart-progress-wrapper {
    padding: 12px;

    .cart-progress-bar {
        padding: 16px 14px;
        margin: 0;
        border-radius: 10px;
    }

    .progress-heading {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }

    .progress-circle {
        width: 26px;
        height: 26px;
    }

    .progress-icon {
        font-size: 12px;
    }

    .progress-label {
        padding: 0 2px;
    }

    .progress-label-title {
        font-size: 10px;
        line-height: 14px;
    }

    .progress-label-sub {
        font-size: 9px;
        line-height: 13px;
    }

    .progress-line {
        height: 2px;
    }
}
